<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
    播放视频
   云影</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/media/styles/vendor.css">
    <link rel="stylesheet" href="/media/styles/main.css">
    

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
    
</head>
<body>
  
  <header id="header" class="navbar navbar-inverse" role="banner"></header>
  

  
  <!--show loading hints before scripts loaded-->
<div id="entry-loading">
  <div class="spinner">
    <!--<div class="double-bounce1"></div>-->
    <!--<div class="double-bounce2"></div>-->
    <div class="dot1 ani-component"></div>
    <div class="dot2 ani-component"></div>
  </div>
</div>

  

  
  <!-- main container -->
  <main class="content wide-content" id="main">
      <div id="pad-wrapper" class="video-page">
      </div>
  </main>
  

  

  
  
  <script type="text/template" charset="utf-8" id="tpl-video-content">
  <div class="video-header-container">
      <div class="row header video-name">
          <div class="col-md-12">
              <h3><%= d.show_title %></h3>
          </div>
          <div class="col-md-12">
              <p><%= d.created_date %></p>
          </div>
      </div>
  </div>
  <div class="video-content-container">
      <div class="row video-content">
          <div class="col-md-8 video-player">
              <video id="video" class="video-js vjs-default-skin vjs-big-play-centered"
                  controls preload="metadata" width="640" height="480" poster="<%= d.poster %>" data-setup="">
                  <source src="<%= d.video_src %>" type='video/mp4' />
                  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
              </video>
          </div>
          <div class="col-md-4 video-attr">
              <div class="row">
                  <div class="col-md-12 author">
                      <p>作者</p>
                      <h5><%= d.author_name %></h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </script>

  <script data-main='/media/scripts/index' src='/media/scripts/require.js'></script>
  <script type='text/javascript'>require.config({"baseUrl":"/media/scripts","paths":{},"shim":{"jquery":{"exports":"jQuery"},"jquery.cookie":{"deps":["jquery"]},"jquery.transit":{"deps":["jquery"]},"jquery.fileupload":{"deps":["jquery","jquery.ui.widget"]},"underscore":{"exports":"_"},"backbone":{"deps":["jquery","underscore"],"exports":"Backbone"},"marionette":{"deps":["jquery","underscore","backbone"],"exports":"Marionette"},"bootstrap":{"deps":["jquery"]},"templates":{"deps":["handlebars"]},"moment":{"exports":"moment"},"mockajax":{"deps":["jquery"]},"mementoable":{"deps":["backbone"]}},"map":{"*":{"jquery.cookie":"jquery-cookie","backbone.babysitter":"backbone-babysitter","backbone.wreqr":"backbone-wreqr","backbone.stickit":"backbone-stickit","jquery.fileupload":"jquery-fileupload","jquery.ui.widget":"jquery-ui-widget","jquery.transit":"jquery-transit"}}})</script>
  
</body>
</html>

